{% extends "base.html" %}
{% block title%}Source{% endblock %}
{% block content%}
<div class="back_source">
    <div class="content1">
        <h2>Data Source</h2>
        <h6>The data for this project is gathered from the following website:&nbsp<a href="https://www.kaggle.com/datasets/jarredpriester/taylor-swift-spotify-dataset/code" target="_blank" rel="noopener noreferrer">kaggle</a></h6>
        <p>(Description of the dataset)</p>
        <a href="/" class="back button"></a>
        <a href="/clean" calss="next button">Next</a>
    </div>
</div>
{% endblock %}