{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block content%}
<div class="back">
    <div class="content">
        <h3>Data Visualization</h3>
        <h6>The following plots are some data visualization of Taylor Swift's songs from 2006 to 2024.</h6>
        <div class="row">
            <div class="column">
                <h4>10 albums with the most tracks</h4>
                <p>(Description)</p>
                <h4>Distribution of song danceability</h4>
                <p>(Description)</p>
                <h4>Song duration distribution</h4>
                <p>(Description)</p>
           </div>
            <div class="column">
                <h4>Average album popularity</h4>
                <p> (Description) </p>
                <h4>Release years distribution of top songs</h4>
                <p> (Description) </p>
                <h4>Average song popularity over the years</h4>
                <p> (Description) </p>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <a href="/visual" class="back-button">Back</a>
    <a href="/conclusion" class="next-button">Next</a>
</div>
{% endblock %}